.container {
    .title-address {
        display: flex;
        padding: 5px;

    }

    .address-pagation {
        display: flex;
        margin: 15px 0;
        justify-content: center;
        align-items: center;
    }
}